AWS_ACCOUNT_ID=123456789012
AWS_REGION=us-east-1
CDN_DOMAIN=cdn.yourdomain.com
DASHBOARD_DOMAIN=app.yourdomain.com
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
API_URL=
S3_BUCKET_NAME=
SES_FROM_EMAIL=noreply@yourdomain.com
STAGE=dev
